<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="HUBAddress" value="wss://192.168.25.157:4443" />

	  <!--STRING DE PRODUÇÃO -->
    <add key="StringConexao" value="Data Source=192.168.25.60; Initial Catalog=CLARO_RENTA_FIXO_2022_1; Persist Security Info=True; User ID=hmb_crm_vivo; Password=Hmb*2022#@!; Connect Timeout=8000"/>

	  <!--STRING DE TESTE-->
	  <!--<add key="StringConexao" value="Data Source=192.168.25.60; Initial Catalog=CALLPLUS_CRT_TIM_2022_1; Persist Security Info=True; User ID=sa; Password=Hmb*2022#@!; Connect Timeout=8000" />-->

	  
	  <add key="StringConexaoUtil" value="Data Source=10.0.1.134; Initial Catalog=CALLPLUS_UTIL; Persist Security Info=True; User ID=sa; Password=hmb@2016!@#; Connect Timeout=80" />
    <add key="ArquivoConfigAkiva" value="C:\\Akiva\Config.ini" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwConfigExceptions="true" throwExceptions="true" internalLogLevel="Trace" internalLogToConsole="false" internalLogToConsoleError="false" internalLogToTrace="false">
    <targets>
      <target xsi:type="File" name="debugFile" createDirs="true" fileName="${basedir}/Logs/${date:format=dd-MM-yyyy}.log" layout="${longdate} ${callsite} ${uppercase:${level}} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="debugFile" />
    </rules>
  </nlog>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>