<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="HUBAddress" value="wss://192.168.15.55:4443"></add>
    <!--<add key ="senhaRamalCCA" value="dvs6crx9"/>
    <add key="ipServidorTelefoniaCCA" value="192.168.25.157"/>-->
    <add key="senhaRamalCCA"  value="VGX2018"/>
    <add key="ipServidorTelefoniaCCA" value="192.168.15.222"/>
    <add key="StringConexao" value="Data Source=192.168.25.201; Initial Catalog=CALLPLUS_ACL_QUINTO_ANDAR; Persist Security Info=True; User ID=sa; Password=hmb@2016!@#; Connect Timeout=8000"/>
    <add key="ArquivoConfigAkiva" value="C:\\Akiva\Config.ini"/>
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        throwConfigExceptions="true"
        throwExceptions="true"
        internalLogLevel="Trace"
        internalLogToConsole="false"
        internalLogToConsoleError="false"
        internalLogToTrace="false">
    <targets>
      <target xsi:type="File" name="debugFile"
              createDirs="true"
              fileName="${basedir}/Logs/Log.log"
              layout="${longdate} ${callsite} ${uppercase:${level}} ${message}"
              archiveFileName="${basedir}/Logs/Arquivo/${shortdate}.log"
              maxArchiveFiles="7"
              archiveEvery="Day"
      />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="debugFile"/>
    </rules>
  </nlog>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WsVoiceSupportIntegrationSoap" />
        <binding name="WSMailingCommandSoap" />
        <binding name="WSAgentCommandSoap" />
        <binding name="WSAgentEventSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WsVoiceSupportIntegrationSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="WSMailingCommandSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="WSAgentCommandSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="WSAgentEventSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.1.227/WsVoiceSupportIntegration/WsVoiceSupportIntegration.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsVoiceSupportIntegrationSoap"
        contract="WsVoiceSupportIntegration.WsVoiceSupportIntegrationSoap"
        name="WsVoiceSupportIntegrationSoap" />
      <endpoint address="http://10.0.1.227/WsVoiceSupportIntegration/WsVoiceSupportIntegration.asmx"
        binding="customBinding" bindingConfiguration="WsVoiceSupportIntegrationSoap12"
        contract="WsVoiceSupportIntegration.WsVoiceSupportIntegrationSoap"
        name="WsVoiceSupportIntegrationSoap12" />
      <endpoint address="http://10.0.1.227/WSMailingControl/WSMailingCommand.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSMailingCommandSoap"
        contract="WSMailingCommand.WSMailingCommandSoap" name="WSMailingCommandSoap" />
      <endpoint address="http://10.0.1.227/WSMailingControl/WSMailingCommand.asmx"
        binding="customBinding" bindingConfiguration="WSMailingCommandSoap12"
        contract="WSMailingCommand.WSMailingCommandSoap" name="WSMailingCommandSoap12" />
      <endpoint address="http://10.0.1.227/WSAgentControl/WSAgentCommand.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSAgentCommandSoap"
        contract="WSAgentCommand.WSAgentCommandSoap" name="WSAgentCommandSoap" />
      <endpoint address="http://10.0.1.227/WSAgentControl/WSAgentCommand.asmx"
        binding="customBinding" bindingConfiguration="WSAgentCommandSoap12"
        contract="WSAgentCommand.WSAgentCommandSoap" name="WSAgentCommandSoap12" />
      <endpoint address="http://10.0.1.227/WSAgentControl/WSAgentEvent.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSAgentEventSoap"
        contract="WSAgentEvent.WSAgentEventSoap" name="WSAgentEventSoap" />
      <endpoint address="http://10.0.1.227/WSAgentControl/WSAgentEvent.asmx"
        binding="customBinding" bindingConfiguration="WSAgentEventSoap12"
        contract="WSAgentEvent.WSAgentEventSoap" name="WSAgentEventSoap12" />
    </client>
  </system.serviceModel>
</configuration>
