<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Callplus.CRM.Tabulador.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="HUBAddress" value="wss://192.168.15.55:4443"></add>
    <!--<add key ="senhaRamalCCA" value="10.0.2.140"/>
    <add key="ipServidorTelefoniaCCA" value="192.168.25.157"/>-->
    <add key="senhaRamalCCA" value="VGX2018"/>
    <add key="ipServidorTelefoniaCCA" value="192.168.15.222"/>
	  
	  <!--STRING DE PRODUÇÃO -->
	  <add key="StringConexao" value="Data Source=10.0.1.106; Initial Catalog=CALLPLUS_ACL_MP_2023_1; Persist Security Info=True; User ID=hmb_crm_vivo; Password=hmb@2021!@#; Connect Timeout=8000"/>
	  

	  <!--STRING DE TESTE-->
	  <!--<add key="StringConexao" value="Data Source=192.168.25.60; Initial Catalog=CALLPLUS_CRT_TIM_2022_1; Persist Security Info=True; User ID=sa; Password=Hmb*2022#@!; Connect Timeout=8000" />-->
  
    
	  
	  <add key="ArquivoConfigAkiva" value="C:\\Akiva\Config.ini"/>
    <add key="CaminhoSoftphoneExpertVoice" value="C:\ExpertVoice\ExpertFone.exe"/>
    <add key="IpSoftphoneExpertVoice" value="10.0.2.208"/>    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwConfigExceptions="true" throwExceptions="true" internalLogLevel="Trace" internalLogToConsole="false" internalLogToConsoleError="false" internalLogToTrace="false">
    <targets>
      <target xsi:type="File" name="debugFile" createDirs="true" fileName="${basedir}/Logs/Log.log" layout="${longdate} ${callsite} ${uppercase:${level}} ${message}" archiveFileName="${basedir}/Logs/Arquivo/${shortdate}.log" maxArchiveFiles="7" archiveEvery="Day"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="debugFile"/>
    </rules>
  </nlog>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WsVoiceSupportIntegrationSoap"/>
        <binding name="WSMailingCommandSoap"/>
        <binding name="WSAgentCommandSoap"/>
        <binding name="WSAgentEventSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="WsVoiceSupportIntegrationSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="WSMailingCommandSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="WSAgentCommandSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="WSAgentEventSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.1.227/WsVoiceSupportIntegration/WsVoiceSupportIntegration.asmx" binding="basicHttpBinding" bindingConfiguration="WsVoiceSupportIntegrationSoap" contract="WsVoiceSupportIntegration.WsVoiceSupportIntegrationSoap" name="WsVoiceSupportIntegrationSoap"/>
      <endpoint address="http://10.0.1.227/WsVoiceSupportIntegration/WsVoiceSupportIntegration.asmx" binding="customBinding" bindingConfiguration="WsVoiceSupportIntegrationSoap12" contract="WsVoiceSupportIntegration.WsVoiceSupportIntegrationSoap" name="WsVoiceSupportIntegrationSoap12"/>
      <endpoint address="http://10.0.1.227/WSMailingControl/WSMailingCommand.asmx" binding="basicHttpBinding" bindingConfiguration="WSMailingCommandSoap" contract="WSMailingCommand.WSMailingCommandSoap" name="WSMailingCommandSoap"/>
      <endpoint address="http://10.0.1.227/WSMailingControl/WSMailingCommand.asmx" binding="customBinding" bindingConfiguration="WSMailingCommandSoap12" contract="WSMailingCommand.WSMailingCommandSoap" name="WSMailingCommandSoap12"/>
      <endpoint address="http://10.0.1.227/WSAgentControl/WSAgentCommand.asmx" binding="basicHttpBinding" bindingConfiguration="WSAgentCommandSoap" contract="WSAgentCommand.WSAgentCommandSoap" name="WSAgentCommandSoap"/>
      <endpoint address="http://10.0.1.227/WSAgentControl/WSAgentCommand.asmx" binding="customBinding" bindingConfiguration="WSAgentCommandSoap12" contract="WSAgentCommand.WSAgentCommandSoap" name="WSAgentCommandSoap12"/>
      <endpoint address="http://10.0.1.227/WSAgentControl/WSAgentEvent.asmx" binding="basicHttpBinding" bindingConfiguration="WSAgentEventSoap" contract="WSAgentEvent.WSAgentEventSoap" name="WSAgentEventSoap"/>
      <endpoint address="http://10.0.1.227/WSAgentControl/WSAgentEvent.asmx" binding="customBinding" bindingConfiguration="WSAgentEventSoap12" contract="WSAgentEvent.WSAgentEventSoap" name="WSAgentEventSoap12"/>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <Callplus.CRM.Tabulador.App.Properties.Settings>
      <setting name="Callplus_br_com_publiccloud_cpro33117_WebServiceRota" serializeAs="String">
        <value>http://cpro33117.publiccloud.com.br/SistemaRotalogHomologacao/WebServiceRota.asmx</value>
      </setting>
    </Callplus.CRM.Tabulador.App.Properties.Settings>
  </applicationSettings>
</configuration>
